*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
iframe{
  width: 100%;
  height: 100%;
}

/*header*/
.header{
  background-color: #c5c5c5;
  padding: 1rem 0;
}
.intro{
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.brand img{
  width: 220px;
}
h1{
  font-size: 1.602rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/*footer*/
.footer{
  padding: 1rem 0;
}
.copy{
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}